body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.top-buffer {
    margin-top: 30px;
}

.top-50 {
    margin-top: 50px;
}

.pointer {
    cursor: pointer;
}

.news-author {
    li {
        margin-right: 10px;
    }
    i {
        margin-right: 5px;
    }
}

.underline {
    span {
        border-bottom: 1px solid #000;
        padding-bottom: 2px;
    }
}

.bars {
    li {
        display: inline-block;
        margin-right: 15px;
    }
    .square {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #45b3de;

        &.open {
            background: #8f35de;
        }

        &.low {
            background: #6085df;
        }
    }
}

.duration-selector {
    ul {
        margin-top: 25px;
        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }
}

.desc {
    font-size: 16px;
    font-weight: 100;
}

.crypto {
    td {
        span {
            font-size: 13px;
            font-style: italic;
            color: green;
        }
    }
}
