body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.top-buffer {
    margin-top: 30px;
}

.top-50 {
    margin-top: 50px;
}

.pointer {
    cursor: pointer;
}

.news-author {
    li {
        margin-right: 10px;
    }
    i {
        margin-right: 5px;
    }
}

.underline {
    span {
        border-bottom: 1px solid #000;
        padding-bottom: 2px;
    }
}

.bars {
    li {
        display: inline-block;
        margin-right: 15px;
    }
    .square {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #45b3de;

        &.open {
            background: #8f35de;
        }

        &.low {
            background: #6085df;
        }
    }
}

.duration-selector {
    ul {
        margin-top: 25px;
        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }
}

.desc {
    font-size: 16px;
    font-weight: 100;
}

tbody {
    td {
        span {
            font-size: 13px;
            font-style: italic;
            color: #00c846;
        }
    }
}

header,
footer {
    background: #002d2c;

    .logo {
        font-style: italic;
        color: #fff;

        span {
            color: #00c846;
        }
    }
}

footer {
    .copyright {
        display: inline-block;
        margin-top: 19px;
        font-size: 13px;
        float: right;
    }
}

hr {
    border-color: #00c846;
}

.api-help {
    color: #00c846;
    a {
        color: #00c846;
        font-style: italic;
        margin-left: 7px;
        font-size: 16px;
    }
}

#uncontrolled-tab-example {
    ul {
        border-color: #00c846;
        li {
            margin-right: 10px;
            a {
                font-weight: 700;
                border-width: 2px;
                border-color: #00c846;
                border-bottom-color: transparent;
            }
        }
    }
}

.upcomingIPO {
    div.export {
        float: right;
        margin-top: -40px;
    }
}
